{% extends 'layout.html' %}

{% block mainContent %}
    <div id="Main Content" class="container-100">
        <div class="position-relative text-center p-2 rounded" style="">
            <h1>Event: {{ result_event[0][1] }}</h1>
        </div>
        <div class="row text-center p-4 m-4 rounded" style="background-color: #3F4356">
            <div class="row">
                <h4>Description: </h4>
                <br>
                <p>{{ result_event[0][2] }}</p>
            </div>
            <div class="col outLine">
                <div class="row outLine table-responsive">
                    <h4>Jobs:</h4>
                    <table class="table table-bordered table-dark table-hover table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Job Name</th>
                                <th scope="col">Job Description</th>
                                <th scope="col">Names</th>
                                <th scope="col">Submit Changes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in results_jobs %}
                                <form method="POST">
                                    <tr>
                                        <th scope="row">{{ job[0] }}</th>
                                        <td>{{ job[1] }}</td>
                                        <td><input name="name_input[{{ job[3] }}]" value="{{ job[2] }}"><input type="hidden" name="job_id" value="{{ job[3] }}"/></td>
                                        <td><button type="submit" class="btn btn-primary">Submit</button></td>
                                    </tr>
                                </form>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col outLine">
                {% if session['acsess'] == 'staff' %}
                    <div class="row p-2 outLine nothing-animation">
                        <h4>Options:</h4>
                        <a class="col btn btn-secondary m-1" href="editevent?id={{ result_event[0][0] }}">Edit this event <i class="bi bi-pencil-square"></i></a>
                        <a class="col btn btn-secondary m-1 anime-object" href="#" onclick="nothing.play();">Do nothing</a>
                    </div>
                {% endif %}
                <div class="row p-2 outLine">
                    <p>Event Location: {{ result_event[0][3] }}</p>
                    <p>Event Start Time: {{ result_event[0][4] }}</p>
                    <p>Event End Time: {{ result_event[0][5] }}</p>
                </div>
                <div class="row p-2 outLine">
                    <h4>Layout Example:</h4>
                    <p>[Disabled for Testing] :)</p>
                </div>
            </div>
            <div class="row">
                <h4>comments: [Currently Under Testing]</h4>
                <br>
                <div class="col p-3">
                    <form method="POST" enctype=multipart/form-data>
                        {{ form.csrf_token }} <!-- essential -->
                        <div class="form-group row p-3">
                            <p class="col-form-label">Chat Room:</p>
                            <select class="form-control" name="room">
                                <option value="event_{{ result_event[0][0] }}">Global for this event</option>
                            </select>
                            {% if form.room.errors %}
                                <div class="text-danger">
                                    {% for error in form.room.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group row p-3">
                            <p class="col-form-label">Username:</p>
                            <div class="">{{ form.username (size=25, class="form-control") }}
                                {% if form.username.errors %}
                                    <div class="text-danger">
                                        {% for error in form.username.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row p-3">
                            <p class="col-form-label">Comment:</p>
                            <div class="">{{ form.comment (size=25, class="form-control") }}
                                {% if form.comment.errors %}
                                    <div class="text-danger">
                                        {% for error in form.comment.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row p-1">
                            {{ form.submit (class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
                <div class="col p-3">
                    {% for comment in results_comments %}
                        <div class="outLine rounded p-2 m-3">
                            <h6>User: {{ comment[2] }}</h6>
                            <p>{{ comment[3] }}</p>
                            <p>Posted: {{ comment[4] }}</p>
                            <div class="row p-2">
                                <button class="col btn btn-secondary m-1">Edit maybe</button>
                                <button class="col btn btn-secondary m-1">Delete</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}