{% extends 'layout.html' %}

{% block mainContent %}
    <div title="Main Content" class="container-100">
        <div class="position-relative text-center p-2" style="background-image: url('/static/images/background.png');">
            <h1>Create New Topic</h1>
        </div>
        <div class="p-4" style="height: 950px; background-color: #5f788a">
            <div class="">
                <form method="POST" enctype=multipart/form-data novalidate>
                    {{ form.csrf_token }} <!-- essential -->
                    <div class="form-group row p-3">
                        {{ form.topicName.label (for="topicName", class="col-sm-2 p-1 splitM col-form-label") }}
                        <div class="col-sm-10">{{ form.topicName (size=25, class="form-control") }}
                            {% if form.topicName.errors %}
                                <div class="text-danger">
                                    {% for error in form.topicName.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row p-3">
                        <p>Select a Class from The Dropdown:</p>
                        <select class="form-control" name="classID">
                            {% for class in classes[0] %}
                                <option value="{{ class[0] }}">{{ class[4] }} Class: {{ class[2] }}</option>
                            {% endfor %}
                        </select>
                        {% if form.classID.errors %}
                            <div class="text-danger">
                                {% for error in form.classID.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group row p-1">
                        {{ form.submit (class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}