{% extends 'layout.html' %}

{% block mainContent %}
    <div title="Main Content" class="container-100">
        <div class="position-relative text-center p-2" style="background-image: url('/static/images/background.png');">
            <h1>Video Upload</h1>
        </div>
        <div class="p-4" style="height: 950px; background-color: #5f788a">
            <div class="">
                <form method="POST" enctype=multipart/form-data novalidate>
                    {{ form.csrf_token}} <!-- essential -->
                    <div class="form-group row p-3">
                        {{ form.videoTitle.label (for="videoTitle", class="col-sm-2 p-1 splitM col-form-label") }}
                        <div class="col-sm-10">{{ form.videoTitle (size=25, class="form-control") }}
                            {% if form.videoTitle.errors %}
                                <div class="text-danger">
                                    {% for error in form.videoTitle.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row p-3">
                        {{ form.videoURL.label (for="videoURL", class="col-sm-2 p-1 splitM col-form-label") }}
                        <div class="col-sm-10">{{ form.videoURL (size=25, class="form-control") }}
                            {% if form.videoURL.errors %}
                                <div class="text-danger">
                                    {% for error in form.videoURL.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row p-3">
                        {{ form.videoDescription.label (for="videoDescription", class="col-sm-2 p-1 splitM largeInput col-form-label") }}
                        <div class="col-sm-10">{{ form.videoDescription (size=25, class="form-control") }}
                            {% if form.videoDescription.errors %}
                                <div class="text-danger">
                                    {% for error in form.videoDescription.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row p-3">
                        <p>Video Topics: (Shift or ctrl click to select multiple topics) Begin typing a name to filter...</p>
                        <select class="form-control" name="videoTopics" multiple>
                            {% for topic in topics[0] %}
                                <option value="{{ topic[0] }}">{{ topic[1] }} - {{ topic[4] }}</option>
                            {% endfor %}
                        </select>
                        {% if form.videoTopics.errors %}
                            <div class="text-danger">
                                {% for error in form.videoTopics.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group row p-1">
                        {{ form.submit (class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}