<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/static/images/logo.png">

    {# Main #}
    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <!-- Main JS --> {# Using minifed version for better performance see main.js for the unminifed version #}
    <script type="text/javascript" src="/static/js/main.min.js"></script>

    {# Font-Awesome #}
    <!-- Font-Awesome CSS -->
    <link rel="stylesheet" href="/static/libraries/fontawesome-free-6.1.1-web/css/all.min.css">

    {# Leaflet #}
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="/static/libraries/leaflet-1.8.0/leaflet.css"/>
    <!-- Leaflet Javascript (added to top to allow scripts being added in maincontent) -->
    <script type="text/javascript" src="/static/libraries/leaflet-1.8.0/leaflet.js"></script>
</head>
<body>
    <!-- Header -->
    <header id="Header">
        <!-- Navbar -->
        <nav title="Navbar" class="navbar navbar-container container">
            <!-- Website Logo & Title -->
            <a href="/" class="home-link">
                <img src="/static/images/logo.png" alt="Website's logo "class="navbar-logo">
                Food Trucks
            </a>
            <!-- Hamburger Button -->
            <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu" aria-expanded="false" onclick="if(this.ariaExpanded=='true'){this.ariaExpanded='false';}else{this.ariaExpanded='true';}">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Navbar Items / Dropdown Items -->
            <div id="navbar-menu" aria-labelledby="navbar-toggle">
                <ul class="navbar-links nav-left">
                    <li class="navbar-item"><a class="navbar-link" href="search">Search</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="sites">Sites</a></li>
                    <li class="navbar-item"><a class="navbar-link" href="/">Btn3</a></li>
                    <li class="navbar-item">
                        <form method="GET" action="search" class="search">
                           <input class="searchTerm" type="search" name="q" placeholder="Search Trucks...">
                           <button class="searchButton" type="submit">
                               <i class="fa fa-search"></i>
                           </button>
                        </form>
                    </li>
                    <li class="navbar-item dropdown">
                        <span class="navbar-link"><i class="fa-solid fa-bell"></i></span>
                        <div class="dropdown-content">
                            <p>Test doc</p>
                            <a href="#"><button class="btn">View Notifications</button></a>
                        </div>
                    </li>
                    <li class="navbar-item dropdown">
                        <span class="navbar-link"><i class="fa-solid fa-user"></i></span>
                        <div class="dropdown-content">
                            {% if not session['user_id'] %}
                                <p>Log In:</p>
                                <form method="POST">
                                    {{ loginform.csrf_token}} <!-- essential -->
                                    <div title="username" class="">
                                        <!-- Label -->
                                        {{ loginform.username.label (for="username", class="") }}
                                        <!-- Form -->
                                        {{ loginform.username (size=25, class="") }}
                                        <!-- Errors -->
                                        {% for error in loginform.username.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    <div title="password" class="">
                                        <!-- Label -->
                                        {{ loginform.password.label (for="password", class="") }}
                                        <!-- Form -->
                                        {{ loginform.password (size=25, class="") }}
                                        <!-- Errors -->
                                        {% for error in loginform.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    <div title="submit" class="">
                                        {{ loginform.submit (class="btn", href="index") }}
                                    </div>
                                </form>
                                <a href="/signup"><button class="btn">Create an Account!</button></a>
                            {% else %}
                                <p>Logged in as user: {{ session['username'] }}</p>
                                <br>
                                <a href="/logout"><button class="btn">Logout!</button></a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Flash Messages -->
        <div title="Flash Messages" style="position: absolute">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert {{ category }}">
                    <strong>{{ message }}</strong>
                    <i class="fa-solid fa-x" class="close-btn" onclick="document.getElementsByClassName('alert')[0].remove()"></i>
                </div>
            {% endfor %}
{#            <!-- No longer used as both message and error category flash messages are now merged -->#}
{#            {% for message in get_flashed_messages(category_filter=["message"]) %}#}
{#                <div class="alert message">#}
{#                    <strong>{{ message }}</strong>#}
{#                    <i class="fa-solid fa-x" class="close-btn" onclick="document.getElementsByClassName('alert')[0].remove()"></i>#}
{#                </div>#}
{#            {% endfor %}#}
        </div>
    </header>

    <!-- Main Content Block -->
    <div id="Main-Content">
        {% block mainContent %} {% endblock %}
    </div>

    <!-- Footer -->
    <footer id="Footer">
        <div title="Social Links">
            <h1>Socials:</h1>
            <ul>
                <li><a href="/">Facebook</a></li>
                <li><a href="/">Instagram</a></li>
                <li><a href="/">Twitter</a></li>
                <li><a href="/">Gmail</a></li>
            </ul>
        </div>
        <div title="Other Links">
            <h1>Other:</h1>
            <ul>
                <li><a href="/">blah</a></li>
                <li><a href="/">blah</a></li>
                <li><a href="/">blah</a></li>
                <li><a href="/">blah</a></li>
            </ul>
        </div>
        <div title="About Links">
            <h1>About:</h1>
            <ul>
                <li><a href="/">blah</a></li>
                <li><a href="/">blah</a></li>
                <li><a href="/">blah</a></li>
                <li><a href="/">blah</a></li>
            </ul>
        </div>
    </footer>
</body>
{# Disabled as I think placing <script> tags is better for what I'm trying to do than placing it in my layout html #}
{# However I have placed a main.min.js at the head for functions that can be used by the script tag in the body #}
{#<script src="/static/js/main.js"></script>#}
</html>