{% extends 'layout.html' %}

{% block mainContent %}
    <!-- Page Contents -->
    <div id="Content-1" class="autocolumn">
        <!-- Info on website -->
        <div>
            <div>
                <h1>Title</h1>
                <h3>Website info</h3>
                <p>More Detail</p>
            </div>
            <div>
                <a href="search"><button>Find Trucks</button></a>
            </div>
        </div>
        <!-- Truck image gallery -->
        <div class="img-gallery">
            {% for i in range(6) %}
                <div class="gallery-img">
                    <a target="_blank" href="#"> <!-- Open in new page with target="_blank" -->
                        <img src="{{ trucks[i][7] }}" alt="{{ trucks[i][8] }}" width="300" height="150">
                    </a>
                    <div class="desc">{{ trucks[i][9] }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="Content-2">
        <!-- Top Food Trucks -->
        <div>
            <h1>Top Food Trucks</h1>
        </div>
        <!-- Truck Gallery -->
        <div class="img-gallery">
            {% for i in range(6) %}
                <div class="gallery-img">
                    <a target="_blank" href="#"> <!-- Open in new page with target="_blank" -->
                        <img src="{{ trucks[i][7] }}" alt="{{ trucks[i][8] }}" width="300" height="150">
                    </a>
                    <div class="desc">{{ trucks[i][9] }}</div>
                </div>
            {% endfor %}
        </div>
        test
    </div>
    <div id="Content-3">
        Content top
        <!-- Map (will be created by the script tag using DOM method) -->
        <div id="Map-Main-Page"></div>
        <!-- Truck List -->
        <div>
            Truck List
        </div>
    </div>
    <!-- Scripts -->
    <script>
        // Create map
        var map = L.map('Map-Main-Page').setView([-27.474, 153.038], 10.21);

        // Apply map with MapBox layers
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 17,
            minZoom: 9,
            id: 'mapbox/navigation-night-v1',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoiMjU1ODgiLCJhIjoiY2wyZ3lya3RmMDhxODNjcHJkMjRpc2Q2diJ9.jrOtIuFfbNHHHpTIN3wbfA'
        }).addTo(map);

        // Apply map with OpenStreetMap layers
        // L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		// 	attributions: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
        //     maxZoom: 17,
        //     minZoom: 9
		// }).addTo(map);

        // Create markers for trucks
        {% for booking in bookings %}
            // Create popup
            var popup = L.popup(className="mapPopup")
                .setContent(`<h1>{{ booking[24] }}</h1><br /><p>{{ booking[26] }}</p>`);
            // Create icon
            // var icon = L.icon({
            //     className: "mapPopup", // May need to place it up here ^
            //     iconUrl: "",
            //     iconSize: [38, 95],
            //     iconAnchor: [22, 94],
            //     popupAnchor: [-3, -76],
            //     shadowUrl: 'my-icon-shadow.png',
            //     shadowSize: [68, 95],
            //     shadowAnchor: [22, 94]
            // });

            // Create marker
            // Add tooltip as "title: string" and add icon with "icon: *"
            var marker = L.marker([({{ booking[8] }}), ({{ booking[9] }} + (Math.floor(Math.random() * (10 - 1) ) + 1) / 7000)]).addTo(map);
            // var marker = L.marker([({{ booking[8] }}), ({{ booking[9] }} + (Math.floor(Math.random() * (10 - 1) ) + 1) / 7000)], {icon: myIcon}).addTo(map);

            // Bind popup to marker
            marker.bindPopup(popup);

            // Bind tooltip to marker
            marker.bindTooltip("Click to open preview for: {{ booking[24] }}");
        {% endfor %}
    </script>
{% endblock %}