{% extends 'layout.html' %}

{% block mainContent %}
    <!-- Page Contents -->
{#    Content-1 Search page via get requests #}
{#    <div id="Content-1">#}
{#        <form method="GET" action="search">#}
{#            <input class="searchTerm" type="search" name="q" placeholder="Search Trucks...">#}
{#            <select class="" id="multiple-select" name="t" multiple>#}
{#                <option value="1">American</option>#}
{#                <option value="2">Asian</option>#}
{#                <option value="3">Fuck</option>#}
{#            </select>#}
{#            <button class="searchButton" type="submit">#}
{#                <i class="fa fa-search"></i>#}
{#            </button>#}
{#        </form>#}
{#        <div>#}
{#            <multi-input>#}
{#                <input list="speakers">#}
{#                <datalist id="speakers">#}
{#                    <option value="Banquo"></option>#}
{#                    <option value="Bishop Stokesly of London"></option>#}
{#                    <option value="Caesar’s Second Watchman"></option>#}
{#                    <option value="Celia"></option>#}
{#                    <option value="Cleopatra"></option>#}
{#                    <option value="Dogberry"></option>#}
{#                    <option value="Falstaff"></option>#}
{#                    <option value="First Servant"></option>#}
{#                    <option value="Hamlet"></option>#}
{#                    <option value="Juliet"></option>#}
{#                    <option value="Macbeth"></option>#}
{#                </datalist>#}
{#            </multi-input>#}
{#        </div>#}
{#    </div>#}

{#    Search page via javascript searching #}
    <div id="Content-2">
        <div class="">
            <input id="search" autocomplete="off">
            <div class="results-container">
                {% for truck in trucks %}
                    <p class="results">{{ truck[1] }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const input = document.querySelector('#search');
            const results = document.querySelectorAll(".results");
            lightSearch(input, results);
        });
    </script>
{% endblock %}