{% extends 'layout.html' %}

{% block mainContent %}
<h2>Rocky Concrete Customer List</h2>
<table class="table table-secondary table-striped table-sm table-bordered">
    <thead class="table-dark">
        <th>Customer Number</th>
        <th>Customer Name</th>
        <th>Address</th>
    </thead>
    {% for row in customers %}
        <tr>
            <td><a href="/customer_details?cid={{row['cust_no']}}">{{row['cust_no']}}</a></td>
            <td>{{row['cust_name']}}</td>
            <td>{{row['street']}}<br>{{row['town']}} {{row['post_code']}}</td>
        </tr>
    {% endfor %}
    <caption>List of all Customers</caption>
</table>
{% endblock %}