{% extends 'layout.html' %}

{% block mainContent %}
    <!-- Page Contents -->
    <div id="Content-1" class="auto-column">
        <!-- Info on website -->
        <div>
            <div>
                <h1>Title</h1>
                <h3>Website info</h3>
                <p>More Detail</p>
            </div>
            <div>
                <a href="search" class="btn">Find Trucks</a>
            </div>
        </div>
        <!-- Truck image gallery -->
        {# This was initially done from a for loop but I wanted the abillity to scale the images per image #}
        <div class="img-gallery">
            <a href="truck?id={{ trucks[0][0] }}" title="{{ trucks[0][1] }}">
                <img class="img" style="width: 36%; height: 32%;" src="{{ trucks[0][7] }}" alt="{{ trucks[0][8] }}">
            </a>
            <a href="truck?id={{ trucks[1][0] }}" title="{{ trucks[1][1] }}">
                <img class="img" style="width: 62%; height: 32%;" src="{{ trucks[1][7] }}" alt="{{ trucks[1][8] }}">
            </a>
            <a href="truck?id={{ trucks[2][0] }}" title="{{ trucks[2][1] }}">
                <img class="img" style="width: 49%; height: 32%;" src="{{ trucks[2][7] }}" alt="{{ trucks[2][8] }}">
            </a>
            <a href="truck?id={{ trucks[3][0] }}" title="{{ trucks[3][1] }}">
                <img class="img" style="width: 49%; height: 32%;" src="{{ trucks[3][7] }}" alt="{{ trucks[3][8] }}">
            </a>
            <a href="truck?id={{ trucks[4][0] }}" title="{{ trucks[4][1] }}">
                <img class="img" style="width: 62%; height: 32%;" src="{{ trucks[4][7] }}" alt="{{ trucks[4][8] }}">
            </a>
            <a href="truck?id={{ trucks[5][0] }}" title="{{ trucks[5][1] }}">
                <img class="img" style="width: 36%; height: 32%;" src="{{ trucks[5][7] }}" alt="{{ trucks[5][8] }}">
            </a>
        </div>
    </div>
    <div id="Content-2">
        <!-- Top Food Trucks -->
        <div>
            <h1>Top Food Trucks</h1>
        </div>
        <!-- Truck Gallery -->
        <div class="img-gallery">
            {% for i in range(3) %}
                <a class="" href="truck?id={{ trucks[i][0] }}" style="background-image: url({{ trucks[i][7] }})">
                    <div class="logo blur">
                        <img class="img" style="width: 5%; height: 5%;" src="{{ trucks[i][4] }}" alt="{{ trucks[i][5] }}">
                    </div>
                    <div class="info blur">
                        <h1 class="">{{ trucks[i][1] }}</h1>
                        <h3 class="">{{ trucks[i][2] }}</h3>
                        <br>
                        <p class="">{{ trucks[i][3] }}</p>
                    </div>
{#                        <div class="other"></div>#}
                </a>
            {% endfor %}
        </div>
        test
    </div>
    <div id="Content-3" style="position: relative;">
        <!-- Map (will be created by the script tag using DOM method) -->
        <div id="Map-div"></div>
        <!-- Truck List -->
        <div class="mapMenu">
            <h1>Bookings:</h1>
            <form method="GET" action="index#Content-3" class="">
                <!-- Search by suburb or postcode input -->
                <label for="search_suburb">Search by suburb or postcode</label>
                <input name="sub" class="search" id="search_suburb">
                <!-- select date input -->
                <label for="search_date">Search by date time</label>
                <input name="tme" type="date" class="search" id="search_date">
                <button class="" type="submit">Submit</button>
            </form>
            <br>
            {% for booking in bookings %}
                <div class="blur" style="background-image: url({{ booking[33] }})">
                    <a class="blur" href="truck?id={{ booking[26] }}"> <!-- the div above isn't an 'a' so I can add a blur element -->
                        <h3 class="blur">{{ booking[18] }}</h3>
                        <h4 class="blur">Category: {{ booking[28] }}</h4>
                        <h5 class="blur">Serving from {{ booking[21] }} to {{ booking[22] }}</h5>
                        <h5 class="blur">Serving at {{ booking[17] }}</h5>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Scripts -->
    <script>
        {# Code inside the script tag won't be minified for better accsessability #}
        // Location
        const lat = "{{ crd['latitude'] }}"
        const lon = "{{ crd['longitude'] }}"

        // Create map with view set to Brisbane City
        var map = L.map('Map-div').setView([lat, lon], 12.21);

        {# // Apply map with MapBox layers (ABANDONED DUE TO COSTS) #}
        {# L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', { #}
        {#     attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>', #}
        {#     maxZoom: 17, #}
        {#     minZoom: 9, #}
        {#     id: 'mapbox/navigation-night-v1', #}
        {#     tileSize: 512, #}
        {#     zoomOffset: -1, #}
        {#     accessToken: 'pk.eyJ1IjoiMjU1ODgiLCJhIjoiY2wyZ3lya3RmMDhxODNjcHJkMjRpc2Q2diJ9.jrOtIuFfbNHHHpTIN3wbfA' #}
        {# }).addTo(map); #}

        // Apply map with OpenStreetMap layers
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors',
            maxZoom: 17,
            minZoom: 9
		}).addTo(map);

        // Create markers for trucks
        {% for booking in bookings %}
            // Create popup
            var popup = L.popup(className="mapPopup")
                .setContent(`<h1>{{ booking[27] }}</h1><h3>{{ booking[28] }}</h3><p>{{ booking[29] }}</p><a href="truck?id={{ booking[26] }}">Go to Truck Page!</a><br><a href="site?id={{ booking[0] }}">Go to Site Page!</a>`);
            // Create icon
            var icon = L.icon({
                className: "mapPopup",
                iconUrl: "{{ booking[30] }}",
                iconSize: [44, 44],
                iconAnchor: [0, 0],
                popupAnchor: [0, -12],
                shadowUrl: 'static/images/marker.png',
                shadowSize: [70, 92],
                shadowAnchor: [14, 14]
            });

            // Create marker
            var marker = L.marker([({{ booking[8] }}), ({{ booking[9] }} + (Math.floor(Math.random() * (10 - 1) ) + 1) / 7000)], {icon: icon}).addTo(map);

            // Bind popup to marker
            marker.bindPopup(popup);

            // Bind tooltip to marker
            marker.bindTooltip("Click to open preview for: {{ booking[18] }}");
        {% endfor %}
    </script>
{% endblock %}