{% extends 'layout.html' %}

{% block mainContent %}
    <!-- Page Contents -->
    <div id="Content-1" class="auto-column">
		<!-- Truck Title -->
        <div style="background-image: url('{{ truck[7] }}');">
            <h1 class="blur"><img style="width: 32px; height: 32px;" src="{{ truck[4] }}" alt="{{ truck[5] }}"> {{ truck[1] }}</h1>
            <h3 class="blur">{{ truck[2] }}</h3>
        </div>
		<!-- Truck Description -->
        <div>
            <p>{{ truck[3] }}</p>
            <br>
			<h3>Social Links:</h3>
            <p>Website: <a href="{{ truck[10] }}">{{ truck[10] }}</a></p>
			<p>Facebook: <a href="{{ truck[11] }}">{{ truck[11] }}</a></p>
            {# Some Trucks have the url in their instagram tag most don't tho #}
			<p>Instagram: <a href="https://www.instagram.com/{{ truck[12] }}">{{ truck[12] }}</a></p>
			<p>Twitter: <a href="https://twitter.com/{{ truck[13] }}">{{ truck[13] }}</a></p>
			<br>
            <form method="POST" class="Skills">
                <h3 class="name">Ratings</h3>
                <div class="rating">
                    {% for x in range(10) %}
                        {% if -(x - 10) == rating %}
                            <input type="radio" name="rating" value="{{ -(x - 10) }}" title="{{ -(x - 10) / 2 }} stars" checked>
                        {% else %}
                            <input type="radio" name="rating" value="{{ -(x - 10) }}" title="{{ -(x - 10) / 2 }} stars">
                        {% endif %}
                    {% endfor %}
                </div>
                {% if session['user_id'] %}
                    <input type="submit" class="btn" value="Rate the Truck!">
                    {% if truck[0] in user_fav[0] %}
                        <button type="submit" name="fav_btn" value="un_fav" class="btn">Un-Fav this truck <i class="bi bi-flag"></i></button>
                    {% else %}
                        <button type="submit" name="fav_btn" value="fav" class="btn">Fav this truck <i class="bi bi-flag-fill"></i></button>
                    {% endif %}
                {% endif %}
            </form>
            {% if session['user_id'] %}
                <p>Please only rate the food truck if you have been a customer of {{ truck[1] }}.</p>
            {% endif %}
        </div>
		<!-- Truck History -->
		<div>
            <h1>Site History:</h1>
            {% for booking in bookings %}
                <a href="site?id={{ booking[1] }}"><h3>{{ booking[0] }}</h3></a>
            {% endfor %}
        </div>
    </div>
{% endblock %}